@using Project2.Models
@{
     ViewBag.checkPage = 2;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/Admin/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/Admin/css/templatemo-style.css">
    <!--
              Product Admin CSS Template
              https://templatemo.com/tm-524-product-admin
    -->
</head>

<body id="reportsPage">
  
    <div class="container mt-5" style="max-width:2000px;">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">

                            <thead>
                                <tr>
                                   
                                    <th scope="col">PRODUCT NAME</th>
                                    <th scope="col">IMPORT PRICE</th>
                                    <th scope="col">SALE PRICE</th>
                                    <th scope="col">UNIT IN STOCK</th>
                                    <th scope="col">DATE ADD</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>

                            @foreach (Product product in ViewBag.Products)
                            {
                                <tbody>

                                    <tr>
                                       
                                        <td id="@product.ProductId" name="@product.ProductName" class="tm-product-name">
                                            @product.ProductName
                                        </td>
                                        <td>@product.ImportPrice</td>
                                        <td>@product.SellPrice</td>
                                        <td>@product.NumberOfInventory</td>
                                        <td>@product.DateAdd.ToString().Split(" ")[0]</td>

                                        <td>
                                            <a href="/Admin/UpdateProduct?productID=@product.ProductId"
                                           class="tm-product-delete-link">
                                                <i class="	fas fa-edit fa-pen-to-square"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/DeleteProduct?productID=@product.ProductId"
                                           class="tm-product-delete-link">
                                                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            }





                        </table>
                    </div>
                    <!-- table container -->
                    <a href="AdminAddProduct" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
                    @*  <button class="btn btn-primary btn-block text-uppercase">
                        <!--<a href="AdminDeleteProduct?type=0&&">  Delete selected products</a>-->
                        </button>*@
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                    <h2 class="tm-block-title">Product Categories</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table">

                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>

                            @foreach (Category category in ViewBag.Categories)
                            {
                                if (category.ParentId == 0)
                                {
                                    <tr>
                                        <td>@category.TypeName</td>
                                        <td>
                                            <a href="/Admin/UpdateCategory?categoryId=@category.TypeId"
                                       class="tm-product-delete-link">
                                                <i class="	fas fa-edit fa-pen-to-square"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/DeleteCategory?categoryId=@category.TypeId" class="tm-product-delete-link">
                                                <i class="far fa-trash-alt fa fa-remove "></i>
                                            </a>
                                        </td>

                                    </tr>
                                }
                            }

                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <form action="AdminAddNewCategory" method="get">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase mb-3">
                            Add new category
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2018</b> All rights reserved.

                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
            </p>
        </div>
    </footer>

    <script src="~/Admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/Admin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->

</body>

</html>
